.u-section-1 .u-sheet-1 {
  min-height: 557px;
}

.u-section-1 .u-table-1 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-1 .u-table-entity-1 {
  min-height: 100px;
}

.u-section-1 .u-table-header-1 {
  font-weight: 700;
  background-image: none;
}

.u-section-1 .u-table-cell-5 {
  background-image: none;
  border-style: solid;
}

.u-section-1 .u-table-cell-6 {
  border-style: solid;
}

.u-section-1 .u-table-cell-7 {
  border-style: solid;
}

.u-section-1 .u-table-cell-8 {
  border-style: solid;
}

.u-section-1 .u-table-cell-9 {
  background-image: none;
  border-style: solid;
}

.u-section-1 .u-table-cell-10 {
  border-style: solid;
}

.u-section-1 .u-table-cell-11 {
  border-style: solid;
}

.u-section-1 .u-table-cell-12 {
  border-style: solid;
}

.u-section-1 .u-table-cell-13 {
  background-image: none;
  border-style: solid;
}

.u-section-1 .u-table-cell-14 {
  border-style: solid;
}

.u-section-1 .u-table-cell-15 {
  border-style: solid;
}

.u-section-1 .u-table-cell-16 {
  border-style: solid;
}

.u-section-1 .u-table-cell-17 {
  background-image: none;
  border-style: solid;
}

.u-section-1 .u-table-cell-18 {
  border-style: solid;
}

.u-section-1 .u-table-cell-19 {
  border-style: solid;
}

.u-section-1 .u-table-cell-20 {
  border-style: solid;
}

.u-block-47f0-35 {
  background-image: none;
}