<table th:fragment="check">
    <caption th:text="Check"></caption>
<thead>
<tr>
<tr>
    <th>№</th>
    <th th:each="name : ${columnNames}" th:text="${name}"></th>
</tr>
</tr>
</thead>
<tbody>
    <tr th:each="check, it : ${modelList}">
        <td th:text="${it.count}"></td>
        <td th:text="${check.id}"></td>
        <td th:text="${check.peer}"></td>
        <td th:text="${check.task}"></td>
        <td th:text="${check.date}"></td>
        <td>
            <form action="update" th:object="${Model}" method="post">
                <input type="hidden" name="id" th:value="${check.id}">
                <button type="submit">Update</button>
            </form>
        </td>
        <td>
            <form action="delete" th:object="${Model}" method="post">
                <input type="hidden" name="id" th:value="${check.id}">
                <button type="submit">Delete</button>
            </form>
        </td>
    </tr>

    <tr>
        <td>
            <form action="add" th:object="${Model}" method="post">
                <button type="submit">Add Check</button>
            </form>
        </td>
    </tr>
</tbody>
</table>