<table th:fragment="checks">
    <caption th:text="Check"></caption>
<thead>
<tr>
    <th>ID</th>
    <th>Check</th>
    <th>Task</th>
    <th>Date</th>
</tr>
</thead>
<tbody>
    <tr th:each="check : ${allChecks}">
        <td th:text="${check.id}"></td>
        <td th:text="${check.peer}"></td>
        <td th:text="${check.task}"></td>
        <td th:text="${check.date}"></td>
        <td>
            <form action="/check/update" th:object="${updatedCheck}" method="post">
                <input type="hidden" name="id" th:value="${check.id}">
                <button type="submit">Update</button>
            </form>
        </td>
        <td>
            <form action="/check/delete" th:object="${deletedCheck}" method="post">
                <input type="hidden" name="id" th:value="${check.id}">
                <button type="submit">Delete</button>
            </form>
        </td>
    </tr>

    <tr>
        <td>
            <form action="/check/add" th:object="${addedCheck}" method="post">
                <button type="submit">Add Check</button>
            </form>
        </td>
    </tr>
</tbody>
</table>