<table th:fragment="friend">
    <caption th:text="Friend"></caption>
    <thead>
        <tr>
            <th>№</th>
            <th th:each="name : ${columnNames}" th:text="${name}"></th>
        </tr>
    </thead>

    <tbody>
    <tr th:each="friend, it : ${modelList}">
        <td th:text="${it.count}"></td>
        <td th:text="${friend.id}"></td>
        <td th:text="${friend.peer1}"></td>
        <td th:text="${friend.peer2}"></td>
        <td>
            <form action="update" method="post">
                <input type="hidden" th:name="id" th:value="${friend.id}">
                <button type="submit">Update</button>
            </form>
        </td>
        <td>
            <form action="delete" th:object="${Model}" method="post">
                <input type="hidden" name="id" th:value="${friend.id}">
                <button type="submit">Delete</button>
            </form>
        </td>
    </tr>
    <tr>
        <td>
            <form action="add" th:object="${Model}" method="post">
                <button type="submit">Add Friend</button>
            </form>
        </td>
    </tr>
    </tbody>
</table>