<div th:fragment="p2p" style="max-height: 800px; overflow-y: auto;">
<table class="u-table-entity u-table-entity-1">
<!--    <caption th:text="P2P"></caption>-->
    <thead class="u-align-center u-black u-table-header u-table-header-1">
        <tr>
            <th class="u-border-1 u-border-black u-table-cell">№</th>
            <th class="u-border-1 u-border-black u-table-cell"
                th:each="name : ${columnNames}" th:text="${name}"></th>

            <th class="u-border-1 u-border-black u-table-cell">update</th>
            <th class="u-border-1 u-border-black u-table-cell">delete</th>
        </tr>
    </thead>

    <tbody class="u-align-center u-table-body u-white u-table-body-1">
    <tr th:each="p2p, it : ${modelList}">
        <td th:text="${it.count}"   class="u-border-1 u-border-grey-30 u-table-cell"></td>
        <td th:text="${p2p.id}"     class="u-border-1 u-border-grey-30 u-table-cell"></td>
        <td th:text="${p2p.check}"  class="u-border-1 u-border-grey-30 u-table-cell"></td>
        <td th:text="${p2p.checkingPeer}" class="u-border-1 u-border-grey-30 u-table-cell"></td>
        <td th:text="${p2p.state}"  class="u-border-1 u-border-grey-30 u-table-cell"></td>
        <td th:text="${p2p.time}"   class="u-border-1 u-border-grey-30 u-table-cell"></td>

        <td class="u-border-1 u-border-grey-30 u-table-cell"><span class="u-file-icon u-icon u-icon-1"><img href="#sec-0df4" src="/images/update-image.png" alt=""></span></td>
        <td class="u-border-1 u-border-grey-30 u-table-cell"><span class="u-file-icon u-icon u-text-palette-2-base u-icon-2"><img src="/images/delete-image.png" alt=""></span></td>

        <!--        <td>-->
<!--            <form action="update" th:object="${Model}" method="post">-->
<!--                <input type="hidden" name="id" th:value="${p2p.id}">-->
<!--                <button type="submit">Update</button>-->
<!--            </form>-->
<!--        </td>-->
<!--        <td>-->
<!--            <form action="delete" th:object="${Model}" method="post">-->
<!--                <input type="hidden" name="id" th:value="${p2p.id}">-->
<!--                <button type="submit">Delete</button>-->
<!--            </form>-->
<!--        </td>-->
    </tr>
<!--    <tr>-->
<!--        <td>-->
<!--            <form action="add" th:object="${Model}" method="post">-->
<!--                <button type="submit">Add P2P</button>-->
<!--            </form>-->
<!--        </td>-->
<!--    </tr>-->
    </tbody>
</table>
</div>

<div th:fragment="p2p-new">
    <div class="form-floating mb-3">
        <input type="number" class="form-control" name="nickname" id="peerNickname" placeholder="Nickname" required>
        <label for="peerNickname">Nickname</label>
    </div>
    <div class="form-floating">
        <input type="date" class="form-control" name="birthday" id="peerBirthday" placeholder="Birthday" required>
        <label for="peerBirthday">Birthday</label>
    </div>
</div>