<table th:fragment="p2p">
    <caption th:text="P2P"></caption>
    <thead>
        <tr>
            <th>№</th>
            <th th:each="name : ${columnNames}" th:text="${name}"></th>
        </tr>
    </thead>

    <tbody>
    <tr th:each="p2p, it : ${allP2P}">
        <td th:text="${it.count}"></td>
        <td th:text="${p2p.id}"></td>
        <td th:text="${p2p.check}"></td>
        <td th:text="${p2p.checkingPeer}"></td>
        <td th:text="${p2p.state}"></td>
        <td th:text="${p2p.time}"></td>
        <td>
            <form action="update" th:object="${updatedP2P}" method="post">
                <input type="hidden" name="id" th:value="${p2p.id}">
                <button type="submit">Update</button>
            </form>
        </td>
        <td>
            <form action="delete" th:object="${deletedP2P}" method="post">
                <input type="hidden" name="id" th:value="${p2p.id}">
                <button type="submit">Delete</button>
            </form>
        </td>
    </tr>
    <tr>
        <td>
            <form action="add" th:object="${addedP2P}" method="post">
                <button type="submit">Add P2P</button>
            </form>
        </td>
    </tr>
    </tbody>
</table>
