<div th:fragment="peer">
<table id="table-peer" class="u-table-entity u-table-entity-1" >
<!--    <caption th:text="Peer"></caption>-->
    <thead class="u-black u-table-header u-table-header-1">
        <tr>
            <th class="u-border-1 u-border-black u-table-cell">№</th>
            <th class="u-border-1 u-border-black u-table-cell"
                th:each="name : ${columnNames}" th:text="${name}"></th>

            <th style="max-width: 155px;" class="u-border-1 u-border-black u-table-cell">Update</th>
            <th class="u-border-1 u-border-black u-table-cell">Delete</th>
        </tr>
    </thead>

    <tbody class="u-align-center u-table-body u-white u-table-body-1">
        <tr th:each="peer, it : ${modelList}">
            <td th:text="${it.count}" class="u-border-1 u-border-grey-30 u-table-cell"></td>
            <td th:text="${peer.nickname}" class="u-border-1 u-border-grey-30 u-table-cell"></td>
            <td th:text="${peer.birthday}" class="u-border-1 u-border-grey-30 u-table-cell"></td>
<!--            <td class="u-border-3 u-border-grey-30 u-table-cell u-table-cell-9">-->
<!--&lt;!&ndash;                <form th:action="@{update}" th:object="${Model}" id="update-form" method="post">&ndash;&gt;-->
<!--                    <input class="teeest" type="hidden" name="nickname" th:value="${peer.nickname}">-->
<!--&lt;!&ndash;                    <button type="submit">Update</button>&ndash;&gt;-->
<!--                    <a data-type="edit" class="u-active-none u-border-none u-btn u-button-link u-button-style u-dialog-link u-hover-none u-none u-text-palette-1-base" href="#sec-0df4">Description</a>-->
<!--&lt;!&ndash;                </form>&ndash;&gt;-->

<!--            </td>-->
<!--            <td class="u-border-3 u-border-grey-30 u-table-cell u-table-cell-6">-->
<!--&lt;!&ndash;                <form action="delete" th:object="${Model}" method="post">&ndash;&gt;-->
<!--&lt;!&ndash;                    <input type="hidden" name="nickname" th:value="${peer.nickname}">&ndash;&gt;-->
<!--&lt;!&ndash;                    <button type="submit">Delete</button>&ndash;&gt;-->
<!--&lt;!&ndash;                </form>&ndash;&gt;-->
<!--            </td>-->

                <td class="u-border-1 u-border-grey-30 u-table-cell"><span class="u-file-icon u-icon u-icon-1"><img src="/images/860814.png" alt=""></span>
                </td>
                <td class="u-border-1 u-border-grey-30 u-table-cell"><span class="u-file-icon u-icon u-text-palette-2-base u-icon-2"><img src="/images/3597073-85676e24.png" alt=""></span>
                </td>

        </tr>

<!--        <form action="add" th:object="${Model}" method="post">-->
<!--            <button type="submit">Add Peer</button>-->
<!--        </form>-->
    </tbody>
</table>


<section class="modal fade u-align-center u-black u-clearfix u-container-style u-dialog-block u-opacity u-opacity-70 u-dialog-section-8" id="sec-0df4">
    <div class="u-align-left u-border-1 u-border-white u-container-style u-dialog u-radius-5 u-shape-round u-white u-dialog-1">
        <div class="u-container-layout u-valign-top u-container-layout-1">
            <h2 class="u-text u-text-default u-text-1">Редактировать</h2>
            <div class="u-form u-form-1">
                <form th:action="@{update}" th:object="${Model}" method="post" class="u-clearfix u-form-spacing-19 u-form-vertical u-inner-form" style="padding: 0px;" name="form">
                    <div class="u-form-group u-form-group-1">
                        <label for="name-3e72" class="u-form-control-hidden u-label">Name</label>
                        <input id="name-3e72" readonly="readonly" name="nickname" class="u-border-grey-75 u-input u-input-rectangle" type="text">
                    </div>
                    <div class="u-form-date u-form-group u-form-group-2">
                        <label for="date-c8e1" class="u-label">Дата</label>
                        <input type="date" placeholder="ММ/ДД/ГГГГ" id="date-c8e1" name="birthday" class="u-border-grey-75 u-input u-input-rectangle" required="">
                    </div>
                    <div class="u-align-left u-form-group u-form-submit u-form-group-3">
<!--                        <a class="u-black u-btn u-btn-round u-btn-submit u-button-style u-radius-5 u-btn-1">Update</a>-->
<!--                        <input type="submit" class="u-form-control-hidden" data-dismiss="modal">-->
                        <button type="submit" data-bs-dismiss="modal">Update</button>
                    </div>
<!--                    <div class="u-form-send-message u-form-send-success"> Thank you! Your message has been sent. </div>-->
<!--                    <div class="u-form-send-error u-form-send-message"> Unable to send your message. Please fix errors then try again. </div>-->
<!--                    <input type="hidden" value="" name="recaptchaResponse">-->
<!--                    <input type="hidden" name="formServices" value="49b4887d-9d07-c972-1b28-95915ea4372b">-->
                </form>
            </div>
        </div><button class="u-dialog-close-button u-icon u-text-grey-50 u-icon-1">
        <svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 413.348 413.348" style=""><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-1ce9"></use></svg>
        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" xml:space="preserve" class="u-svg-content" viewBox="0 0 413.348 413.348" id="svg-1ce9"><path d="m413.348 24.354-24.354-24.354-182.32 182.32-182.32-182.32-24.354 24.354 182.32 182.32-182.32 182.32 24.354 24.354 182.32-182.32 182.32 182.32 24.354-24.354-182.32-182.32z"></path></svg>
    </button>
    </div>

</section>
    <script type="text/javascript" src="../static/js/peer_modal.js" defer="" th:src="@{/js/peer_modal.js}"></script>

    <style>.u-dialog-section-8 .u-dialog-1 {
    width: 683px;
    min-height: 343px;
    height: auto;
    margin: 286px auto 60px;
}

.u-dialog-section-8 .u-container-layout-1 {
    padding: 40px;
}

.u-dialog-section-8 .u-text-1 {
    font-size: 2.25rem;
    margin: 10px auto 0 0;
}

.u-dialog-section-8 .u-form-1 {
    height: 202px;
    width: 601px;
    margin: 10px 0 0;
}

.u-dialog-section-8 .u-form-group-1 {
    width: 100%;
}

.u-dialog-section-8 .u-form-group-2 {
    width: 100%;
}

.u-dialog-section-8 .u-form-group-3 {
    width: 100%;
}

.u-dialog-section-8 .u-btn-1 {
    background-image: none;
    border-style: none;
    padding-left: 50px;
    padding-right: 50px;
}

.u-dialog-section-8 .u-icon-1 {
    width: 15px;
    height: 15px;
    left: auto;
    top: 16px;
    position: absolute;
    right: 18px;
}

@media (max-width: 991px) {
    .u-dialog-section-8 .u-container-layout-1 {
        padding: 30px;
    }
}

@media (max-width: 767px) {
    .u-dialog-section-8 .u-dialog-1 {
        width: 540px;
    }

    .u-dialog-section-8 .u-form-1 {
        width: 520px;
    }
}

@media (max-width: 575px) {
    .u-dialog-section-8 .u-dialog-1 {
        width: 340px;
    }

    .u-dialog-section-8 .u-container-layout-1 {
        padding-left: 20px;
        padding-right: 20px;
    }

    .u-dialog-section-8 .u-form-1 {
        width: 320px;
    }
}</style>
</div>