<table th:fragment="peer">
    <caption th:text="Peer"></caption>
    <thead>
        <tr>
            <th>№</th>
            <th th:each="name : ${columnNames}" th:text="${name}"></th>
        </tr>
    </thead>

    <tbody>
        <tr th:each="peer, it : ${allPeers}">
            <td th:text="${it.count}"></td>
            <td th:text="${peer.nickname}"></td>
            <td th:text="${peer.birthday}"></td>
            <td>
                <form action="update" th:object="${updatedPeer}" method="post">
                    <input type="hidden" name="nickname" th:value="${peer.nickname}">
                    <button type="submit">Update</button>
                </form>
            </td>
            <td>
                <form action="delete" th:object="${deletedPeer}" method="post">
                    <input type="hidden" name="nickname" th:value="${peer.nickname}">
                    <button type="submit">Delete</button>
                </form>
            </td>
        </tr>

        <form action="add" th:object="${addedPeer}" method="post">
            <button type="submit">Add Peer</button>
        </form>

    </tbody>
</table>
