<tbody th:fragment="peer" class="u-align-center u-table-body u-white u-table-body-1">
        <tr th:each="peer, it : ${modelList}">
            <td th:text="${it.count}" class="u-border-1 u-border-grey-30 u-table-cell"></td>
            <td th:text="${peer.nickname}" class="u-border-1 u-border-grey-30 u-table-cell"></td>
            <td th:text="${peer.birthday}" class="u-border-1 u-border-grey-30 u-table-cell"></td>

            <td class="u-border-1 u-border-grey-30 u-table-cell"><span data-bs-toggle="modal" data-bs-target="#update-entry-modal" class="u-file-icon u-icon u-icon-1"><img data-type="peerNicknameUpdate" src="/images/update-image.png" class="scaled" alt=""></span></td>

            <td class="u-border-1 u-border-grey-30 u-table-cell">
                <span data-bs-toggle="modal" data-bs-target="#delete-entry-modal" class="u-file-icon u-icon u-text-palette-2-base u-icon-2">
                    <img data-type="peerNicknameDelete" src="/images/delete-image.png" class="scaled" alt="">
                </span>
            </td>
        </tr>
</tbody>

<div th:fragment="peer-new">
    <div class="form-floating mb-3">
      <input type="text" class="form-control" name="nickname" id="peerNickname" placeholder="Nickname" required>
      <label for="peerNickname">Nickname</label>
    </div>
    <div class="form-floating">
      <input type="date" class="form-control" name="birthday" id="peerBirthday" placeholder="Birthday" required>
      <label for="peerBirthday">Birthday</label>
    </div>
</div>

<div th:fragment="peer-update">
    <label for="peerNicknameUpdate" class="form-select-sm prop-label">Nickname
        <input type="text" name="nickname" id="peerNicknameUpdate" class="form-control mb-3" required readonly>
    </label>
    <div class="form-floating">
        <input type="date" class="form-control" name="birthday" id="peerBirthdayUpdate" placeholder="Birthday" required>
        <label for="peerBirthdayUpdate">Birthday</label>
    </div>
</div>

<div th:fragment="peer-delete">
    <label for="peerNicknameDelete" class="form-select-sm prop-label">Nickname
        <input type="text" name="nickname" id="peerNicknameDelete" class="form-control" required readonly>
    </label>
</div>

<style>
    .u-dialog-section-8 .u-dialog-1 {
    width: 683px;
    min-height: 343px;
    height: auto;
    margin: 286px auto 60px;
    }

    .u-dialog-section-8 .u-container-layout-1 {
    padding: 40px;
    }

    .u-dialog-section-8 .u-text-1 {
    font-size: 2.25rem;
    margin: 10px auto 0 0;
    }

    .u-dialog-section-8 .u-form-1 {
    height: 202px;
    width: 601px;
    margin: 10px 0 0;
    }

    .u-dialog-section-8 .u-form-group-1 {
    width: 100%;
    }

    .u-dialog-section-8 .u-form-group-2 {
    width: 100%;
    }

    .u-dialog-section-8 .u-form-group-3 {
    width: 100%;
    }

    .u-dialog-section-8 .u-btn-1 {
    background-image: none;
    border-style: none;
    padding-left: 50px;
    padding-right: 50px;
    }

    .u-dialog-section-8 .u-icon-1 {
    width: 15px;
    height: 15px;
    left: auto;
    top: 16px;
    position: absolute;
    right: 18px;
    }

    @media (max-width: 991px) {
    .u-dialog-section-8 .u-container-layout-1 {
    padding: 30px;
    }
    }

    @media (max-width: 767px) {
    .u-dialog-section-8 .u-dialog-1 {
    width: 540px;
    }

    .u-dialog-section-8 .u-form-1 {
    width: 520px;
    }
    }

    @media (max-width: 575px) {
    .u-dialog-section-8 .u-dialog-1 {
    width: 340px;
    }

    .u-dialog-section-8 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
    }

    .u-dialog-section-8 .u-form-1 {
    width: 320px;
    }
    }</style>