<table th:fragment="recommendation">
    <caption th:text="Recommendation"></caption>
    <thead>
        <tr>
            <th>№</th>
            <th th:each="name : ${columnNames}" th:text="${name}"></th>
        </tr>
    </thead>

    <tbody>
    <tr th:each="recommendation, it : ${modelList}">
        <td th:text="${it.count}"></td>
        <td th:text="${recommendation.id}"></td>
        <td th:text="${recommendation.peer}"></td>
        <td th:text="${recommendation.recommendedPeer}"></td>
        <td>
            <form action="update" th:object="${Model}" method="post">
                <input type="hidden" name="id" th:value="${recommendation.id}">
                <button type="submit">Update</button>
            </form>
        </td>
        <td>
            <form action="delete" th:object="${Model}" method="post">
                <input type="hidden" name="id" th:value="${recommendation.id}">
                <button type="submit">Delete</button>
            </form>
        </td>
    </tr>
    <tr>
        <td>
            <form action="add" th:object="${Model}" method="post">
                <button type="submit">Add Recommendation</button>
            </form>
        </td>
    </tr>
    </tbody>
</table>
