<table th:fragment="task">
    <caption th:text="Task"></caption>
    <thead>
        <tr>
            <th>№</th>
            <th th:each="name : ${columnNames}" th:text="${name}"></th>
        </tr>
    </thead>

    <tbody>
    <tr th:each="task, it : ${modelList}">
        <td th:text="${it.count}"></td>
        <td th:text="${task.title}"></td>
        <td th:text="${task.parentTask}"></td>
        <td th:text="${task.maxXp}"></td>
        <td>
            <form action="update" th:object="${Model}" method="post">
                <input type="hidden" name="title" th:value="${task.title}">
                <button type="submit">Update</button>
            </form>
        </td>
        <td>
            <form action="delete" th:object="${Model}" method="post">
                <input type="hidden" name="title" th:value="${task.title}">
                <button type="submit">Delete</button>
            </form>
        </td>
    </tr>
    <tr>
        <td>
            <form action="add" th:object="${Model}" method="post">
                <button type="submit">Add Task</button>
            </form>
        </td>
    </tr>
    </tbody>
</table>
