.u-section-1 .u-sheet-1 {
  min-height: 489px;
}

.u-section-1 .u-btn-1 {
  text-transform: uppercase;
  transition-duration: 0.5s;
  box-shadow: 0px 0px 0px rgba(0,0,0,0);
  text-shadow: 0px 0px 0px rgba(0,0,0,0);
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  margin: 0 auto 0 0;
  padding: 9px 28px 10px 27px;
}

.u-section-1 .u-icon-1 {
  font-size: 1.25em;
}

.u-section-1 .u-btn-2 {
  text-transform: uppercase;
  transition-duration: 0.5s;
  text-shadow: 0px 0px 0px rgba(0,0,0,0);
  box-shadow: 0px 0px 0px rgba(0,0,0,0);
  font-size: 1rem;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  margin: -51px 0 0 auto;
  padding: 9px 33px 10px 32px;
}

.u-section-1 .u-icon-2 {
  font-size: 1.25em;
}

.u-section-1 .u-text-1 {
  text-transform: uppercase;
  margin: 4px auto 0 341px;
}

.u-section-1 .u-table-1 {
  margin-top: 0;
  height: 122px;
  margin-bottom: 60px;
}

.u-section-1 .u-table-header-1 {
  font-weight: 700;
  background-image: none;
}

@media (max-width: 1199px) {
  .u-section-1 .u-btn-1 {
    border-style: solid;
    margin-left: 17px;
  }

  .u-section-1 .u-btn-2 {
    border-style: solid;
    margin-left: 688px;
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 281px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-btn-2 {
    margin-left: 468px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 215px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-btn-2 {
    margin-left: 288px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 161px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-btn-2 {
    margin-left: 88px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 101px;
  }
}

.u-section-1 .u-btn-1,
.u-section-1 .u-btn-1:before,
.u-section-1 .u-btn-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-btn-1.u-btn-1.u-btn-1:hover {
  transform: translateX(0px) translateY(0px) scale(1.2) rotate(0deg) !important;
  box-shadow: 0px 0px 0px  rgba(0,0,0,0) !important;
  border-style: solid !important;
  border-top-width: 2px !important;
  border-left-width: 2px !important;
  border-right-width: 2px !important;
  border-bottom-width: 2px !important;
  border-color: #404040 !important;
  text-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
}

.u-section-1 .u-btn-1.u-btn-1.u-btn-1:hover:before {
  background-color: transparent !important;
}

.u-section-1 .u-btn-1 {
  border-style: solid !important;
  border-width: 0px !important;
  border-color: transparent !important;
}

.u-section-1 .u-btn-1.u-btn-1.u-btn-1.hover {
  transform: translateX(0px) translateY(0px) scale(1.2) rotate(0deg) !important;
  box-shadow: 0px 0px 0px  rgba(0,0,0,0) !important;
  border-style: solid !important;
  border-top-width: 2px !important;
  border-left-width: 2px !important;
  border-right-width: 2px !important;
  border-bottom-width: 2px !important;
  border-color: #404040 !important;
  text-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
}

.u-section-1 .u-btn-1 {
  border-style: solid !important;
  border-width: 0px !important;
  border-color: transparent !important;
}

.u-section-1 .u-container-layout:hover .u-btn-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-1 .u-btn-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-1 .u-btn-2,
.u-section-1 .u-btn-2:before,
.u-section-1 .u-btn-2 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-btn-2.u-btn-2.u-btn-2:hover {
  transform: translateX(0px) translateY(0px) scale(1.2) rotate(0deg) !important;
  box-shadow: 0px 0px 0px  rgba(0,0,0,0) !important;
  border-style: solid !important;
  border-top-width: 2px !important;
  border-left-width: 2px !important;
  border-right-width: 2px !important;
  border-bottom-width: 2px !important;
  border-color: #404040 !important;
  text-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
}

.u-section-1 .u-btn-2.u-btn-2.u-btn-2:hover:before {
  background-color: transparent !important;
}

.u-section-1 .u-btn-2 {
  border-style: solid !important;
  border-width: 0px !important;
  border-color: transparent !important;
}

.u-section-1 .u-btn-2.u-btn-2.u-btn-2.hover {
  transform: translateX(0px) translateY(0px) scale(1.2) rotate(0deg) !important;
  box-shadow: 0px 0px 0px  rgba(0,0,0,0) !important;
  border-style: solid !important;
  border-top-width: 2px !important;
  border-left-width: 2px !important;
  border-right-width: 2px !important;
  border-bottom-width: 2px !important;
  border-color: #404040 !important;
  text-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
}

.u-section-1 .u-btn-2 {
  border-style: solid !important;
  border-width: 0px !important;
  border-color: transparent !important;
}

.u-section-1 .u-container-layout:hover .u-btn-2 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-1 .u-btn-2 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}.u-section-2 .u-sheet-1 {
  min-height: 400px;
}