<div th:fragment="header" style="display: flex">
    <form action="/peer/all">
        <button>Peers</button>
    </form>

    <form action="/friend/all">
        <button>Friends</button>
    </form>

    <form action="/check/all">
        <button>Checks</button>
    </form>

    <form action="/p2p/all">
        <button>P2P</button>
    </form>

    <form action="/recommendation/all">
        <button>Recommendations</button>
    </form>

    <form action="/task/all">
        <button>Tasks</button>
    </form>

    <form action="/time_tracking/all">
        <button>Time Tracking</button>
    </form>

    <form action="/transferred_point/all">
        <button>Transferred Point</button>
    </form>

    <form action="/verter/all">
        <button>Verter</button>
    </form>

    <form action="/xp/all">
        <button>XP</button>
    </form>

</div>