<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Java Info</title>
    <link rel="stylesheet" href="/css/style.css" th:href="@{/style.css}">

    <div th:insert="~{header :: header}" style="height: 100px"></div>

</head>
<body>

    <div th:insert="~{procedures_block :: procedures_block}" style="height: 100px"></div>

    <div th:replace="~{'tables/' + ${tableName} :: ${tableName}} ?: _"></div>

    <form action="/custom_request/query">
        <textarea rows="1" placeholder="Your request..." name="query"
                  style="width: 600px; height: 250px"></textarea>
        <input type="submit" value="Send">
    </form>

    <form th:action="@{/custom_request/unload}" enctype="multipart/form-data">
        <button type="submit">Export Custom</button>
    </form>

    <form th:action="@{upload}" enctype="multipart/form-data" method="post">
        <div>
            <label for="file">Select a CSV file</label>
            <input type="file" name="file" id="file" accept=".csv">
        </div>
        <button type="submit">Import</button>
    </form>

    <form th:action="@{unload}" enctype="multipart/form-data">
        <button type="submit">Export</button>
    </form>

</body>
</html>