<div th:fragment="procedures_block" style="display: flex">
    <a href="/custom_request/proc/1">___1___</a>
    <a href="/custom_request/proc/2">___2___</a>
    <a href="/custom_request/proc/3">___3___</a>
    <a href="/custom_request/proc/4">___4___</a>
    <a href="/custom_request/proc/5">___5___</a>
    <a href="/custom_request/proc/6">___6___</a>
    <a href="/custom_request/proc/7">___7___</a>
    <a href="/custom_request/proc/8">___8___</a>
    <a href="/custom_request/proc/9">___9___</a>
    <a href="/custom_request/proc/10">___10___</a>
    <a href="/custom_request/proc/11">___11___</a>
    <a href="/custom_request/proc/12">___12___</a>
    <a href="/custom_request/proc/13">___13___</a>
    <a href="/custom_request/proc/14">___14___</a>
    <a href="/custom_request/proc/15">___15___</a>
    <a href="/custom_request/proc/16">___16___</a>
    <a href="/custom_request/proc/17">___17___</a>
    <a href="/custom_request/proc/18">___18___</a>
    <a href="/custom_request/proc/19">___19___</a>
    <a href="/custom_request/proc/20">___20___</a>
    <a href="/custom_request/proc/21">___21___</a>
    <a href="/custom_request/proc/22">___22___</a>
    <a href="/custom_request/proc/23">___23___</a>
    <a href="/custom_request/proc/24">___24___</a>
    <a href="/custom_request/proc/25">___25___</a>
</div>