<div th:fragment="procedures_block" style="display: flex">
    <form action="/custom_request/proc/1">
        <button type="submit">___1___</button>
    </form>

    <form action="/custom_request/proc/2">
        <button type="submit">___2___</button>
    </form>

    <form action="/custom_request/proc/3">
        <label>
            <input required="required" type="date" th:value="2022-09-21" th:name="date">
        </label>
        <button type="submit">___3___</button>
    </form>

    <form action="/custom_request/proc/4">
        <button type="submit">___4___</button>
    </form>

    <form action="/custom_request/proc/5">
        <button type="submit">___5___</button>
    </form>

    <form action="/custom_request/proc/6">
        <button type="submit">___6___</button>
    </form>

    <form action="/custom_request/proc/7">
        <button type="submit">___7___</button>
    </form>

    <form action="/custom_request/proc/8">
        <button type="submit">___8___</button>
    </form>

    <form action="/custom_request/proc/9">
        <input type="hidden" th:value="CPP" name="args">
        <button type="submit">___9___</button>
    </form>

    <form action="/custom_request/proc/10">
        <button type="submit">___10___</button>
    </form>

    <form action="/custom_request/proc/11">
        <input type="hidden" th:value="D0" name="args">
        <input type="hidden" th:value="C" name="args">
        <button type="submit">___11___</button>
    </form>

    <form action="/custom_request/proc/12">
        <input type="hidden" th:value="7" name="args">
        <button type="submit">___12___</button>
    </form>

    <form action="/custom_request/proc/13">
        <button type="submit">___13___</button>
    </form>

    <form action="/custom_request/proc/14">
        <button type="submit">___14___</button>
    </form>

    <form action="/custom_request/proc/15">
        <input type="hidden" th:value="C4_Math" name="args">
        <input type="hidden" th:value="C5_Decimal" name="args">
        <input type="hidden" th:value="DO1_Linux" name="args">
        <button type="submit">___15___</button>
    </form>

    <form action="/custom_request/proc/16">
        <button type="submit">___16___</button>
    </form>

    <form action="/custom_request/proc/17">
        <input type="hidden" th:value="8" name="args">
        <button type="submit">___17___</button>
    </form>

    <form action="/custom_request/proc/18">
        <button type="submit">___18___</button>
    </form>

    <form action="/custom_request/proc/19">
        <button type="submit">___19___</button>
    </form>

    <form action="/custom_request/proc/20">
        <button type="submit">___20___</button>
    </form>

    <form action="/custom_request/proc/21">
        <input type="hidden" th:value="'13:00:00'" name="args">
        <input type="hidden" th:value="2" name="args">
        <button type="submit">___21___</button>
    </form>

    <form action="/custom_request/proc/22">
        <input type="hidden" th:value="1" name="args">
        <input type="hidden" th:value="2" name="args">
        <button type="submit">___22___</button>
    </form>

    <form action="/custom_request/proc/23">
        <button type="submit">___23___</button>
    </form>

    <form action="/custom_request/proc/24">
        <input type="hidden" th:value="120" name="args">
        <button type="submit">___24___</button>
    </form>

    <form action="/custom_request/proc/25">
        <button type="submit">___25___</button>
    </form>

</div>